.inputsection{
    margin: 0 auto;
    width: 50%;
    margin-top: 120px;
    text-align: center;
}

.inputsection h1{
    font-size: 50px;
    color: white;
}
.inputsection h1 > span{
    color: yellow;
}

.inputsection .input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    width: 80%;
    margin: 0 auto;
}

.inputsection .input input{
    width: 80%;
    height: 100%;
    border: none;
    font-size: 20px;
    outline: none;
    padding: 0px 10px;
}

.inputsection .input button{
    background-color: #2980b9;
    height: 100%;
    width: 20%;
    border: none;
    outline: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
}